.fiche{
   display: flex;
   justify-content: center;
   background-color: violet;
   &__bloc{
      width: 90%;
      background-color: white;
      position: relative;
      top: 5rem;
      display: flex;
      flex-direction: row;
      padding: 2rem;
      background-color: white;
   }
   &__images{
      height: 300px;
      width: 300px;
      overflow: hidden;
      display: flex;
      justify-content: center;
   }
   &__vignette{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 1rem;
   }
   &__details{
      flex-direction: column;
      width: 40%;
      margin-left: 2rem;
   }
   &__couleur{
      display: flex;
      flex-direction: column;
   }
   &__nombre{
      display: flex;
      flex-direction: row;
      height: 27px;
      width: 92px;
      .moins{
         margin-right: 0.5rem;
         height: 27px;
         padding: 5px;
         border-radius: 50%;
      }
      .nbr{
         margin: 4px 15px -2px 9px;
         height: 27px;
         border-radius: 50%;
      }
      .plus{
         margin-right: 0.5rem;
         height: 27px;
         padding: 5px;
         border-radius:50%;
      }
   }
}

footer{
   position: relative;
   bottom: -10rem;
}