@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.header {
  height: 5rem;
  background-color: #131921;
  display: flex;
  flex-direction: column;
  color: white;
}
.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
  align-items: center;
}
.header__form {
  display: flex;
  align-items: center;
}
.header__form .form__btn {
  background-color: #F9A300;
  padding: 0.45rem;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  border-radius: 0px 10px 10px 0px;
  box-shadow: -1px 0px 2px 0px #131921;
}
.header__form .bar {
  padding: 0.6rem;
  border-radius: 10px 0px 0px 10px;
  border: none;
  width: 35rem;
}
.header__compte {
  display: flex;
  align-items: center;
  color: white;
}
.header__panier {
  display: flex;
  align-items: center;
  color: white;
}
.header i {
  font-size: larger;
}
.header p {
  margin-left: 0.5rem;
}

/*@import "layout/nav";*/
.footer {
  height: 8rem;
  background-color: #232F3E;
}
.footer__backTop {
  height: 2rem;
  background-color: #485769;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__details {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer__details li {
  list-style: none;
  color: white;
}

body {
  font-family: "Roboto";
}

.links {
  text-decoration: none;
  color: black;
}

.main {
  max-width: 1440px;
  margin: auto;
  padding: 0 2rem;
}

.produits {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.produits__cards {
  background-color: white;
  box-shadow: 0px 0px 9px 2px #bababa;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}
.produits__information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 330px;
  width: 280px;
  background-color: white;
}
.produits__img {
  width: 250px;
  height: 250px;
}
.produits__details {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -1rem;
}
.produits__details--name {
  font-weight: bold;
}
.produits__details--price {
  font-size: 1.2rem;
}
.produits__btn {
  position: relative;
  bottom: 1.2rem;
  margin-top: 10px;
}

.btn {
  background-color: #F9A300;
  border: none;
  height: 40px;
  padding: 5px 15px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 7px;
  display: flex;
  align-items: center;
}

.fiche {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.fiche__cards {
  background-color: white;
  box-shadow: 0px 0px 9px 2px #bababa;
  display: flex;
  margin: 2rem;
}
.fiche__images {
  height: 500px;
  width: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.fiche__vignette {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}
.fiche__details {
  flex-direction: column;
  width: 70%;
  margin-left: 2rem;
  display: flex;
  justify-content: center;
}
.fiche__details h2 {
  font-size: 3rem;
}
.fiche__details .description {
  font-size: 1.5rem;
}
.fiche__details .produits__details--price {
  font-size: 1.5rem;
}
.fiche__couleur {
  display: flex;
  flex-direction: column;
}
.fiche__nombre {
  display: flex;
  flex-direction: row;
  height: 27px;
  width: 92px;
}
.fiche__nombre .minus-btn {
  margin-right: 1.5rem;
}
.fiche__nombre .nbr {
  width: 1rem;
  border: none;
  font-size: 1.5rem;
  height: 40px;
}
.fiche__nombre .plus-btn {
  margin-left: 1.5rem;
}

.container {
  display: flex;
  flex-direction: row;
  max-width: 1440px;
  margin: auto;
  padding: 0 2rem;
}

.panier {
  padding: 1rem;
}
.panier__cards {
  background-color: white;
  box-shadow: 0px 0px 9px 2px #bababa;
  display: flex;
  margin: 1rem;
  width: 600px;
}
.panier__principale {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
}
.panier__images {
  height: 130px;
  width: 130px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.panier__vignette {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}
.panier__details {
  flex-direction: column;
  margin-left: 0rem;
  display: flex;
  justify-content: center;
  line-height: 0px;
}
.panier__details h2 {
  font-size: 1rem;
  margin-bottom: 0px;
}
.panier__details .produits__details--price {
  font-size: 1rem;
}
.panier__couleur {
  display: flex;
  flex-direction: column;
}
.panier__nombre {
  display: flex;
  flex-direction: row;
  height: 27px;
  width: 92px;
}
.panier__nombre .minus-btn {
  margin-right: 1.5rem;
}
.panier__nombre .nbr {
  width: 1rem;
  border: none;
  font-size: 1.5rem;
  height: 40px;
}
.panier__nombre .plus-btn {
  margin-left: 1.5rem;
}

.recapCommande {
  background-color: white;
  box-shadow: 0px 0px 9px 2px #bababa;
  margin: 2rem;
  padding: 1rem;
}
.recapCommande h2 {
  font-size: 2rem;
  border-bottom: 1px solid gray;
}
.recapCommande__prixTotal {
  font-size: 1.5rem;
}
.recapCommande__nombreArticles {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

form#paiement {
  padding: 20px;
}

form#paiement fieldset {
  margin-bottom: 10px;
}

form#paiement legend {
  font-size: 1.3rem;
  font-weight: bold;
  padding-bottom: 4px;
}

form#paiement ol li {
  list-style: none;
}

form#paiement ol ol li {
  background: none;
  border: none;
  float: left;
}

form#paiement label {
  float: left;
  width: 110px;
}

form#paiement fieldset fieldset label {
  background: none no-repeat left 50%;
  line-height: 20px;
  padding: 0 0 0 30px;
  width: auto;
}

form#paiement fieldset fieldset label:hover {
  cursor: pointer;
}

form#paiement input:not([type=radio]),
form#paiement textarea {
  background: #ffffff;
  border: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  font: italic 13px Georgia, "Times New Roman", Times, serif;
  outline: none;
  padding: 5px;
  width: 200px;
}

form#paiement input:not([type=submit]):focus,
form#paiement textarea:focus {
  background: #eaeaea;
}

form#paiement input[type=radio] {
  float: left;
  margin-right: 5px;
}

/*# sourceMappingURL=style.css.map */
